.table_heading{
  margin-top: 25px;
  border-bottom: 0;
  color:#fff;
  text-transform: uppercase;
  font-weight: bold;
  position:relative;
  padding-right: 0px;
  text-align: center;
  &:before{
    position: absolute;
    content: ' ';
    width:calc(100%);
    background: rgba(255, 2, 0, 0.3);
    height: 100%;
    left: 0;
    top: 0;
    z-index: -1;
  }
  .table_row{
    background: transparent;
    padding-left: 0;
    padding-right: 0;
    .table_row_item{
      color:#fff;
      transition: .25s ease all;
      &.active{
        background-color: rgba(255,255,255,.3);
      }
      &:hover{
        background-color: rgba(255,255,255,.5)!important;
      }
    }
  }
}