.table_row{
  display: grid;
  grid-template-columns: 1fr 4fr 4fr 2fr 2fr 2fr;
  transition: .25s ease all;
  padding: 0 15px;
  cursor: pointer;
  &:hover{
    background-color: rgba(255,255,255,.3) ;
  }
  .table_row_item{
    padding: 22px 5px;
    color:#424242;
    &.income{
      position: relative;
      text-align: center;
    }
    .table_row:nth-child(odd){
      background-color: rgba(255,255,255,.15);
      &:hover{
        background-color: rgba(255,255,255,.3) ;
      }
    }
  }
}
